@font-face {
    font-family: "Open Sans";
    src: url(/css/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(/css/fonts/OpenSans-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url(/css/fonts/OpenSans-Semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url(/css/fonts/OpenSans-SemiboldItalic.ttf);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Titillium Web";
    src: url(/css/fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: "Titillium Web";
    src: url(/css/fonts/TitilliumWeb-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Titillium Web";
    src: url(/css/fonts/TitilliumWeb-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Titillium Web";
    src: url(/css/fonts/TitilliumWeb-LightItalic.ttf);
    font-style: italic;
    font-weight: 300;
}