#history_container
{
    height: 562px;
}
#histgraph_container
{
    height: 400px;
    border-bottom: 1px solid black;
}
#range_buttons
{
    height: 120px;
}
.range_button
{
    height: 110px;
    font-family: 'Open Sans';
    display: inline-block;
    width: 200px;
    line-height: 53px;
    font-size: 44px;
    text-align: center;
    font-weight: 300;
    padding-top: 10px;
    border-bottom: 1px solid black;
}
.range_button:hover {
    cursor: pointer;
}
.range_month
{
    font-size:32px;
    font-style: italic;
    display: block;
}
.selected {
    background-color: darkslategray;
    color: white;
}