#rating_tab
{
    height: 562px;
    background-color: #f0f0f0;
    border-top: 1px solid darkgray;

}
#rating_container
{
    display:block;
    height: 320px;
    border-bottom: 1px solid lightslategray;
    width: 599px;
    box-shadow: inset 0 0 20px #383838;
}

.rating_slider {
    top: 25px;
    left: 40px;
    width: 240px;
    position: relative;
    float: left;
}

.rating_info {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    float: left;
    height: 11em;
    left: 5em;
    top: 8px;
    text-align: center;
    width: 8em;
}

.rating_number
{
    font-family: 'Titillium Web';
    display: block;
    position: relative;
    font-size: 100px;
    font-weight: 300;
    line-height: 120px;
}

.rating_text
{
    display: block;
    position: relative;
    font-size: 36px;
    font-style: italic;
    border-top: 1px solid #333333;
    line-height: 44px;
}

.rating_breakdown
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    position: relative;
    display: block;
    border-top: 1px dashed black;
    width: 25em;
    margin-left: 1.3em;
    padding-left: 6.6em;
    margin-top: 2em;
    padding-top: .7em;
    line-height: 1.5em;
}

.rating_breakdown_desc
{
    text-align: left;
    display: inline-block;
    font-style: italic;
}

.rating_breakdown_numbers
{
    text-align: right;
    float: right;
    display: inline;
    margin-left: 3em;
    position: absolute;
}

#tips_container
{
    display:block;
    height: 241px;
    width: 599px;
    background-color: #f0f0f0;
}



/* Classes for IE and older browser compatibility issues with jQuery animations */

.rating_container_1 {
    background-color: #ff6458 !important;
}
.rating_container_2 {
    background-color: #ff9911 !important;
}
.rating_container_3 {
    background-color: #ffcc11 !important;
}
.rating_container_4 {
    background-color: #ffdb58 !important;
}
.rating_container_5 {
    background-color: #ffff7f !important;
}
.rating_container_6 {
    background-color: #e0ff70 !important;
}
.rating_container_7 {
    background-color: #ccff11 !important;
}
.rating_container_8 {
    background-color: #b7f358 !important;
}
.rating_container_9 {
    background-color: #a3ef28 !important;
}
.rating_container_10 {
    background-color: #33ff22 !important;
}

#tips_title
{
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: italic;
    position: relative;
    width: 597px;
    line-height: 36px;
    border-left: 1px solid lightslategray;
    border-right: 1px solid lightslategray;
    border-bottom: 1px solid lightslategray;
    background-color: #E0E5E2;
    text-align: center;
    display: inline-block;
}

#tips_submit
{
    background-color: #E0E5E2;
    color: black;
    font-family: 'Open Sans', sans-serif;
    height: 33px;
    line-height: 33px;
    font-size: 20px;
    border: 1px solid lightslategray;
    text-align: center;
}
#tips_submit:hover
{
    cursor:pointer;
}

.tips
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    height: 170px;
    border-right: 1px solid lightslategray;
    border-left: 1px solid lightslategray;
}
.tip-unselected
{
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    width: 291px;
    font-size: 18px;
    height: 34px;
    padding-left: 6px;
    line-height: 34px;
    text-align: left;
    color: #505050;
    border-right: 1px solid lightslategray;
}
.tips li:nth-child(2n)
{
    width:293px;
    border-right: none;
}
.tips li:hover
{
    cursor: pointer;
}

.tip-selected
{
    color: black;
}

.check_container
{
    width: 50px;
    display: inline-block;
    text-align: center;
    opacity: 0;
}
.tip-unselected span img {
    position: relative;
    top: 2px;
}
.tip-selected .check_container {
    opacity: 1;
}

#rating_metrics
{
    position: relative;
    width: 17em;
    left: 11em;
    margin-top: 2.2em;
    display: inline-block;
}


.metric
{
    width: 17em;
}

.x_img
{

}

.icon_img
{
    margin-right: 10px;
}
.metric_number
{
    font-family: 'Open Sans';
    font-size: 36px;
    margin-bottom: -4px;
    width: 45px;
    width: 160px;
    text-align: center;
    position: relative;
    display: inline-block;
    top: -4px;
}
.metric_text
{
    font-size: 28px !important;
    text-align: right;
    display: inline;
    position: relative;
    font-style: italic;
}
