#rating_tab
{
    text-align: center;
    height: 671px;
    background-color: #f0f0f0;
    border-top: 1px solid darkgray;

}
#rating_container
{
    display:block;
    height: 160px;
    border-bottom: 1px dashed dimgray;
    width: 599px;
    background: #D4FFD0;
}

.rating_slider {
    top: 70px;
    left: 40px;
    width:300px;
    position:relative;
    float: left
}

.rating_info {
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    float:right;
    height: 120px;
    top: 20px;
    color: #333333;
    margin-right: 60px;
    width: 130px;
}

.rating_number
{
    display: block;
    position: relative;
    font-size: 60px;
}

.rating_text
{
    display: block;
    position: relative;
    font-size: 24px;
    border-top: 1px solid #333333;
    line-height: 44px;
}