#tab_menu
{
    float:left;
    display: block;
    position: absolute;
    height: 30px;
    width: 599px;
}
.tab_link
{
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    float:left;
    text-align: center;
    width: 200px;
    display: inline;
    height:20px;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 20px;
    background-color: #f0f0f0;
}
.tab_link:nth-child(1) {
    width: 199px;
}
.tab_link:hover
{
    cursor: pointer;
}
.tab_link_last
{
    border-right: 0 !important;
}